<%- include('partials/header') %>

<main class="main-container--about">
    <div data-aos="flip-left" class="main__label-container--about">
        <p class="main__paragraph">Site/API par Gurvan Lardeux</p>
        <p class="main__paragraph">Github : <a class="paragraph-link" href="https://github.com/LardeuxGurvan/la-classe-americaine">https://github.com/LardeuxGurvan/la-classe-americaine</a></p>
        <p class="main__paragraph">Les endpoints de l'API sont décrits dans l'api-doc </p>
        <p class="main__paragraph">Toutes les répliques et infos en bdd sont tirés de la page <a class="paragraph-link" href="https://fr.wikiquote.org/wiki/La_Classe_am%C3%A9ricaine">wikiquote</a></p>
        <p class="main__paragraph">* Tous les droits relatifs au flim reviennent aux ayants droits du flim</p>
    </div>
</main>
<footer class="footer-container">
</footer>

<%- include('partials/footer') %>